@import './common.scss';
@import './mixins';

.image-slider{
  width: 100%;
  min-height: 30rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;

  input{
    z-index: 100;
    outline: none;
    border: 0;
    padding: 0;
    margin: 0;
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
    margin-right: -2rem;
    opacity: 0;

    & + label{
      z-index: 100;
      width: 1rem;
      height: 1rem;
      background: #fff;
      opacity: 0.5;
      border-radius: 50%;
      margin: 0 0.5rem;
      transition: all 0.3s;
    }
  }

  .slide{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
    padding: 1rem;
    padding-bottom: 2rem;

    @include breakpoint (laptop) {
      padding: 3rem;
      padding-bottom: 4.5rem;
    }
    @include breakpoint (desktop) {
      padding: 3rem 6rem;
      padding-bottom: 4.5rem;
    }


    >.content{
      z-index: 2;
    }
  }

  input:checked + label{
    opacity: 1;
  }

  input:checked + label + .slide{
    opacity: 1;
  }
}
